{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<div class="signup">
    <div class="signup-container">
        <h1 class="gradient-text">Faculty Signup</h1>
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}

            {{ form.non_field_errors }}
            {{ profile_form.non_field_errors }}
            <br>
            <h3 style="color: var(--txt-color)">Account Info</h3><br>
            {% for field in form %}
                <div class="form-row">
                    {{ field.label_tag }}
                    {{ field }}
                    <div class="error">{{ field.errors }}</div>
                </div>
            {% endfor %}
            <br>
            <h3 style="color: var(--txt-color)">Profile Info</h3>
            {% for field in profile_form %}
                <div class="form-row">
                    {{ field.label_tag }}
                    {{ field }}
                    <div class="error">{{ field.errors }}</div>
                </div>
            {% endfor %}

            <button type="submit" class="custom-signup-bt">Sign Up</button>
        </form>
        <div class="mt-3 text-center">
            <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
        </div>
    </div>
</div>
{% endblock %}
