body {
    font-family: "Lexend", sans-serif;
    text-align: center;
    margin: 0;
    min-height: 100vh;
    background-color: var(--bg-color);
}


@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.gradient-text {
    background: linear-gradient(108.4deg, rgb(204, 146, 177), rgb(113, 111, 185));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    background-size: 200% 200%;
    transition: background-position 0.1s ease;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.section{
      padding: 20px;
      margin: 8%;
      justify-content: space-between;
      background-color: var(--bg-color);
}

/* Headings */
h3 {
    font-size: 26px;
    margin-bottom: 15px;
    border-left: 5px solid #c084fc;
    padding-left: 10px;
    text-align: left;
}

ul {
    list-style-type: disc;
    margin-left: 25px;
    margin-bottom: 20px;
    text-align: left;
}

li {
    margin-bottom: 10px;
    font-size: 1rem;
}

/* Tabs Styling */
.tabs {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin:auto;
}

.tab-button {
    padding: 10px 20px;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px 8px 0 0;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.tab-button.active {
    background-color: #E6E6FA;;
    color: #c084fc;
}

.tab-content {
    display: none;
    padding: 20px 40px;
    border: 1px solid white;
    border-top: none;
    background-color: white;
    border-radius: 0 0 8px 8px;
    text-align: left;
}

.tab-content.active {
    display: block;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 14px;
}
@media screen and (max-width: 768px) {
  .tabs {
    flex-direction: column;
  }

  .tab-button {
    width: 100%;
    border-radius: 5px;
  }

  main {
    margin: 20px;
    padding: 10px;
  }

  .gradient-text {
    font-size: 2.5em;
  }

  h3 {
    font-size: 22px;
  }

  header h1 {
    font-size: 36px;
  }

  header h2 {
    font-size: 20px;
  }
}
