<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}Gallery | CSE{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock %}

{% block content %}
 <h1 class="grad-text">Assistant Professors</h1>
      <div class="card-container">
    <div class="card active" style="background-image: url('{% static 'img/p3.jpg' %}')"></div>
    </div>
    <div class="card" style="background-image: url('{% static 'img/p2.jpg' %}')">
      </div>

    <div class="card" style="background-image: url('{% static 'img/p1.png' %}')">
    </div>

  <div class="card-container">
    <div class="card active" style="background-image: url('{% static 'img/p3.jpg' %}')">
    </div>
    <div class="card" style="background-image: url('{% static 'img/p2.jpg' %}')">
    </div>
    <div class="card" style="background-image: url('{% static 'img/p1.png' %}')">
      </div>
    </div>


     <div class="card-container">
    <div class="card active" style="background-image: url('{% static 'img/p3.jpg' %}')">
    </div>
    <div class="card" style="background-image: url('{% static 'img/p2.jpg' %}')">
    </div>
    <div class="card" style="background-image: url('{% static 'img/p1.png' %}')" >
    </div>
  </div>
<div class="card-container">
    <div class="card" style="background-image: url('{% static 'img/p2.jpg' %}')">
    </div>
    <div class="card" style="background-image: url('{% static 'img/p3.jpg' %}')">
    </div>
    <div class="card" style="background-image: url('{% static 'img/p3.jpg' %}')">
    </div>
</div>
{% endblock %}
