{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/tuition.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;700&display=swap">
{% endblock %}

{% block content %}
<div class="banner-global">
    <h2 class="gradient-text-global">Admission Info</h2><br>
    <h1 class="gradient-text-global">Tuition Fees</h1>
</div>
 <div class="container">
        <div class="table-section">
          <div class="sci-fi-dots-wrapper">
  <div class="sci-fi-dots-bg">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
            <table>
              <tr>
                <th colspan="3"><span class="gradient-text-global-big-size">Undergraduate Cost</span></th>
              </tr>
                <tr><td>1</td><td>Credit</td><td>152</td></tr>
                <tr><td>2</td><td>Total Semester</td><td>8</td></tr>
                <tr><td>3</td><td>Application Fees</td><td>৳1200</td></tr>
                <tr><td>4</td><td>Admission Fee</td><td>৳21,500</td></tr>
                <tr><td>5</td><td>Convocation Fee</td><td>৳6,000</td></tr>
                <tr><td>6</td><td>Per Semester Registration Fee</td><td>৳45,000</td></tr>
                <tr><td>7</td><td>Per Semester Tuition Fee</td><td>৳55,000</td></tr>
                <tr><td>6+7</td><td>Total Per Semester</td><td>৳1,00,000</td></tr>
                <tr><td></td><td>8 Semester + Admission Fee</td><td>৳8,28,700</td></tr>
            </table>
            </div>
        </div>

        <div class="table-section">
             <div class="sci-fi-dots-wrapper">
  <div class="sci-fi-dots-bg">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
            <table>
              <tr>
                <th colspan="3"><span class="gradient-text-global-big-size">Graduate Cost</span></th> <!-- This will center and expand the heading -->
              </tr>
                <tr><td>1</td><td>Credit</td><td>36</td></tr>
                <tr><td>2</td><td>Total Semester</td><td>3</td></tr>
                <tr><td>3</td><td>Application Fee</td><td>৳1200</td></tr>
                <tr><td>4</td><td>Admission Fee</td><td>৳18,500</td></tr>
                <tr><td>5</td><td>Convocation Fee</td><td>৳6,000</td></tr>
                <tr><td>6</td><td>Per Credit Fee</td><td>৳4,500</td></tr>
                <tr><td></td><td>4 Semester + Admission Fee</td><td>৳1,87,700</td></tr>
            </table>
             </div>
        </div>

        <div class="table-section">
             <div class="sci-fi-dots-wrapper">
  <div class="sci-fi-dots-bg">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
          <table>
                <tr>
                <th colspan="3"><span class="gradient-text-global-big-size">Special Notes</span></th>
               </tr>
            <tr>
                 <td>1</td>
                <td>Tuition Fee Payment</td>
                <td>Can be paid in installments—50% before midterm and 50% before final exam.</td>
            </tr>
            <tr>
                <td>2</td>
                <td>B.Sc in CSE Admission Requirement</td>
                <td>Students must have **Physics and Mathematics** in HSC or equivalent exam.</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Minimum Admission Requirement (O/A Level)</td>
                <td>GPA **2.5 in O Level** (five subjects) & **A Level (two subjects)** with total **GPA 6.00**.<br> Candidates must meet department-specific admission criteria.</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Application Processing Fee</td>
                <td>Non-refundable fee of **৳1,200** (Applicable for both Undergraduate & Postgraduate programs).</td>
            </tr>
        </table>
             </div>
        </div>
       </div>
{% endblock %}