<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alumni</title>
</head>
<body>
    {%for i in alumni%}
        <div>
            <img src="{{i.photo.url}}" alt="Profile Photo" width="150">
            <h2>{{ i.name }}</h2>
            <p>{{ i.title }}</p>
            <p><strong>Year of Graduation:</strong> {{ i.graduation_year }}</p>
            <p><strong>Department:</strong> {{ i.department }}, {{ i.university }}</p>
        </div>

        <div>
            <blockquote>
                {{ i.bio }}
            </blockquote>
        </div>
    {%endfor%}
</body>
</html>